*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


:root {
/* Dark theme colors  */
--text-color: #edf3ff;
--subheading-color: #97a7ca;
--placeholder-color:#c3cdde;
--primary-color:#101623;
--secondary-color:#283045;
--secondary-hover-color: #333e58;
--scrollbar-color:#626a7f;
}

/* body.dark-theme{
    --text-color: #edf3ff;
--subheading-color: #97a7ca;
--placeholder-color:#c3cdde;
--primary-color:#101623;
--secondary-color:#283045;
--secondary-hover-color: #333e58;
--scrollbar-color:#626a7f;
} */






body{
    color: var(--text-color);
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}




.uppr .heading  {
    margin-top: 50px;
    font-size: 3rem;
    width: fit-content;
    background: linear-gradient(to right, #1d7efd, #8f6fff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.uppr .sub{
    font-size: 2.6rem;
    margin-top: -5px;
    color: var(--subheading-color);
}


.prmp{
    display: flex;
gap: 15px;
margin-top: 9.5vh;
} .item{
    width: 200px;
    padding: 18px;
    border-radius: 12px;
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    cursor: pointer;

}
  .prmp  :hover{
    background: var(--secondary-hover-color);
   }
.item span{
    background: var(--primary-color);
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1d7efd;
    align-self: flex-end;
    margin-top: 35px;
}

.item:nth-child(2) span{
    color: #28a745;
}
.item:nth-child(3) span{
    color: #ffc107;
}
.item:nth-child(4) span{
    color: #6f42c1;
}

.pcon{
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 16px 0;
    margin-top: 20px;
    background: var(--primary-color);
    position: fixed;
    gap: 12px;
    display: flex;
justify-content: center;
align-items: center;
}


    .pup{
      
        display: flex;
        width: 700px;
    }
.inp{
    display: flex;
    height: 56px;
    width: 100%;
    background: var(--secondary-color);
    border-radius: 130px;
    display: flex;
    align-items: center;
    gap: 10px;

}



.inp input {
    padding-left: 20px;   
    border: none;
    background: none;
    outline: none;
    width: 80%;
    color: var(--text-color);
}
.inp button{
    border: none;
    background: none;
    outline: none;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    align-items: center;
    color: var(--text-color);
    cursor: pointer;
}

/* .inp #ib{
    background: #1d7efd;
   
} */






.inp button:hover{
    background: var(--secondary-hover-color);
}

.pdn{
    display: flex;
    gap: 12px;
}

.pdn button{
    border: none;
    background: none;
    outline: none;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    align-items: center;
    background: var(--secondary-color);
    color: var(--text-color);
cursor: pointer;
}
.pdn button:hover{
    background: var(--secondary-hover-color);
}

.bot{
    width: 100%;
    /* height: 600px; */
max-height: calc(100vh - 127px);
display: flex;
flex-direction: column;
overflow-y: auto;
scrollbar-width: none; 
align-items: center;
/* height: calc(100vh - 300px); */
}


.usrm{
margin: 20px;
}

#lg{
    height: 42px;
    width: 42px;
    border-radius: 50%;
    display: flex;
    background: var(--secondary-color);
    align-items: center;
    justify-content: center;
    /* animation: rotate 3s linear infinite; */
   
}

#lg img{
        height: 40px;
        width: 35px;
    border: none;
    background: none;
    border-radius: 50%;
    animation: rotate 3s linear infinite;

    /* align-self: self-start; */
    /* flex-shrink: 0; */

}

@keyframes rotate{
    100%{
    transform: rotate(360deg);
    }
}

#botms   {
    display: flex;
    align-items: center;
    gap:5px ;
    flex-direction: column;
    width: 50%;
}

#botms p {
    align-self: self-start;
    margin: 8px 0 8px 0;
    font-weight:bold;
}


#botms li {
    align-self: self-start;
    align-items: center;
    padding-left: 25px;
    margin: 8px 0 8px 0;

}

.bot   #botms  {
    margin: 20px;
    /* padding: 3px 16px; */
    word-wrap: break-word;
    white-space: pre-line;
    }

  .bot   .usrm   {
        padding: 12px 16px;
        max-width: 75%;
        border-radius: 13px 13px 3px 13px;
        background: var(--secondary-color);
       
    }

     .usrm{
        align-self: flex-end;
        flex-direction: column;
    }

  #botm{

    width: 50%;
    gap: 8px;
    width: 15%;
    display: flex;
    align-items: center;
    align-self: self-start;
    margin-left: 269px;
}



#botms #log img{
    height: 40px;
    width: 35px;
border: none;
background: none;
border-radius: 50%;
align-self: self-start;
}

#log{
    align-self: self-start;
}


#botms code{
background-color: black;
}

body.light-theme{
    --text-color: #090c13;;
    --subheading-color: #7b8cae;;
    --placeholder-color:#606982;;
    --primary-color:#f0f4f9;
    --secondary-color:#dce6f9;
    --secondary-hover-color: #d2ddf2;;
    --scrollbar-color:#a2aac2;
}




#slr{
    background-color: #2d2d2d; /* VS Code editor background */
    color: #d4d4d4; /* VS Code text color */
    border-radius: 4px;
    padding: 10px;
    overflow-x: auto;
}

